aiodevision
aiodns
aiofile
aiofiles
aiogTTS
aiohttp
aioquic
aioredis
aiozaneapi
alexflipnote.py
aniso8601
appdirs
argon2-cffi
astunparse
async-cleverbot
async-cse
async-exit-stack
async-generator
async-timeout
asyncdagpi
asyncpg
asyncpraw
asyncprawcore
attrs
backcall
beautifulsoup4
better-profanity
bleach
blinker
blis
braceexpand
brotlipy
bs4
cachetools
caio
captcha
captionbot
catalogue
cchardet
certifi
cffi
cfgv
chardet
click
colorama
colordict
colormath
colour
cryptography
cycler
cymem
Cython
dataclass-factory
dateparser
decorating
decorator
defusedxml
discord
discord-components
discord-ext-alternatives
discord-ext-ipc
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@309c70222eec33acacb8c21bbb0fbe9bc57de661
discord-flags
discord-markdown
discord-py-slash-command
discord-webhook
discord.py
distlib
dnspython
doc-search
eight-ball
email-validator
emoji
entrypoints
environs
fake-useragent
Faker
fastapi
filelock
Flask
Flask-Discord
get-video-properties
gevent
glitch-this
google
google-re2
googletrans
graphene
graphql-core
graphql-relay
graphviz
greenlet
gTTS
gunicorn
h11
h2
hiredis
hpack
hstspreload
html5lib
httpcore
httptools
httpx
Hypercorn
hyperframe
ipc
kitsu-wrapper
ksoftapi
libimagequant
littlecms
llvmlite
lxml
lyricsgenius
lyricwikia
mal
mal-api
MarkupSafe
marshmallow
mathparse
matplotlib
matplotlib-inline
mistune
mpmath
multicolorcaptcha
multidict
murmurhash
mystbin.py
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nodeenv
nose
notebook
NudeNet
numerize
numpy
oauthlib
objgraph
onnxruntime
opencv-contrib-python
opencv-python-headless
orjson
packaging
pafy
pandas
pandocfilters
parso
pathy
pexpect
pickleshare
Pillow
pilmoji
pluggy
polaroid
prettify
prettify.py @ git+https://github.com/ShineyDev/prettify.py@8e3440930e08ea309c124ec654eb70bf5ba9734c
pretty-errors
progressbar2
prometheus-client
promise
prompt-toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pymaging @ git+git://github.com/ojii/pymaging.git@596a08fce5664e58d6e8c96847393fbe987783f2
pymaging-png @ git+git://github.com/ojii/pymaging-png.git@83d85c44e4b2342818e6c068065e031a9f81bb9f
PyNaCl
pyrsistent
pytesseract
python-dateutil
python-dotenv
python-magic
python-multipart
python-rapidjson
python-rocket-league
python-twitch-client
python-utils
pytube @ git+https://github.com/pytube/pytube@1f5162cb42dad10dab3cc92bcf4221505fe60c27
pytz
PyWavelets
PyYAML
pyzbar
pyzmq
qrcode
qtconsole
QtPy
Quart
quoters
randfacts
ratelimiter
regex
requests
requests-oauthlib
rfc3986
rsa
Rx
scathach-api
scikit-image
scikit-learn
scipy
selenium
semantic-version
Send2Trash
setuptools-rust
simpleeval
six
sklearn
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spongebobcase
SQLAlchemy
sr-api
srsly
starlette
stripe
susposter
sympy
tabulate
TenGiphPy
terminado
testpath
text-unidecode
thinc
threadpoolctl
tifffile
toml
topggpy
tornado
tox
tqdm
traitlets
translate
tswift
twemoji-parser @ git+https://github.com/edugomez102/twemoji-parser@46b27f25ee5820fa2ff68f9aedff62636a5ea1c0
typer
typing-extensions
tzlocal
udpy
ujson
update-checker
urllib3
uvicorn
uvloop
vacefron.py
virtualenv
Wand
wasabi
watchgod
wavelink
wcwidth
webcolors
webencodings
websockets
Werkzeug
widgetsnbextension
wonderwords
wordcloud
wsproto
yarl
youtube-dl
zipp
zope.event
zope.interface
